
.right-contain{
    margin-left: 200px;
}

.object-contain{
    position: absolute;
    height: 100%;
    width: 91%;
}

.left-contain{
    margin-top: 81px;
    /*position: absolute;*/
}

.object-contain{
    overflow: hidden;
    scroll-snap-type: none;
}